.appointmentCard {
  padding: 15px;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding-top: 0;
  width: 100%;
  max-width: 600px;
  margin: 10px 0px;
}

.appointmentDetails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.leftColumn,
.rightColumn {
  flex: 1;
}

@media (max-width: 768px) {
  .appointmentCard {
    width: 95%;
    max-width: none;
  }

  .appointmentDetails {
    flex-direction: column;
  }
}

.addDiagnosisBtn,
.viewDiagnosisBtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.addDiagnosisBtn:hover,
.viewDiagnosisBtn:hover {
  background-color: #45a049;
}

.hiddenInput {
  display: none;
}

.fileName {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}

/* Modal Overlay */
.modalOverlay {
  display: flex; /* Ensure modal is shown */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 90%;
  text-align: center;
}

/* Close Button */
.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

.closeButton:hover {
  color: #000;
}

/* Diagnosis Image */
.diagnosisImage {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}
