.container {
  background-color: #04364a14;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inner_cont {
  background-color: white;
  width: 80%;
  border-radius: 20px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  color: #2a4752;
  font-size: 24px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
}

.appointmentList {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}

.appointmentList li {
  list-style: none;
  margin: 8px 25px;
}

.appointmentItem {
  flex: 1 1 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 250px;
}

.noAppointments {
  text-align: center;
  color: #6c757d;
  font-style: italic;
}
