.container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: auto;
}

.heading {
  text-align: center;
  color: #2a4752;
}

.appointmentList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.appointmentItem {
  flex: 1 1 calc(33.33% - 20px);
  max-width: 300px;
  min-width: 250px;
}

.noAppointments {
  text-align: center;
  color: #6c757d;
  font-style: italic;
}
