.appointmentCard {
  padding: 15px;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding-top: 0;
  width: 100%;
  max-width: 600px;
  margin: 10px 0px;
}

.appointmentDetails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.leftColumn,
.rightColumn {
  flex: 1;
}

@media (max-width: 768px) {
  .appointmentCard {
    width: 95%;
    max-width: none;
  }

  .appointmentDetails {
    flex-direction: column;
  }
}

.addDiagnosisBtn,
.viewDiagnosisBtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.addDiagnosisBtn:hover,
.viewDiagnosisBtn:hover {
  background-color: #45a049;
}

.hiddenInput {
  display: none;
}

.fileName {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}

.diagnosisImage {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
}
