.app_tab {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding-top: 40px;
  background-color: #f2f2f2;
  height: 83vh;
}

.app_tab h2 {
  margin: 0;
  width: 100%;
  margin-bottom: 25px;
  color: #04364a;
  text-align: center;
}

.timetable {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
}

.timetable th,
.timetable td {
  border: 1.2px solid white;
  padding: 10px 1px;
  text-align: center;
}

.timetable thead td,
.timetable thead th {
  border: 1px solid white;
  padding: 10px 2px;
  text-align: center;
  width: 120px;
}

.timetable th {
  background-color: #164863ce;
  padding: 5px 3px;
  color: white;
}
