.slot .break {
  background-color: #9bbec8;
  color: white;
  font-weight: bold;
}

.booked {
  background-color: green;
  color: white;
  border: 1px solid #ccc;
  padding: 3px;
  text-align: center;
}

.available {
  background-color: red;
  color: white;
  border: 1px solid #ccc;
  padding: 3px;
  text-align: center;
}
