.container {
  text-align: center;
  height: 83vh;
  color: #0b2f43;
  background-color: #04364a14;
  padding: 20px;
}

.result {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2c4553;
}

.symptomGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  background-color: white;
  justify-content: center;
  gap: 12px;
  padding: 27px;
  border-radius: 20px;
  width: 70%;
  margin: 0 auto;
}

.symptomButton {
  padding: 12px;
  background-color: #04364a1f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.symptomButton:hover {
  background-color: #04364a31;
}

.selected {
  background-color: #9bbec8 !important;
  color: white !important;
}

.submitButton {
  margin-top: 20px;
  font-size: 17px;
  padding: 10px 30px;
  background-color: #164863d0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submitButton:hover {
  background-color: #164863e8;
}
